/* === Variáveis Globais === */
:root {

}

/* === Contêineres do Piano === */
.hero-piano {
    height: 50%;
    width: 100%;
}

.key-redline {
    background: linear-gradient(270deg, #4f0303, #ff0808);
    box-shadow: 1px 1px 11px rgb(0 0 0);
    border-radius: 2px;
}