:root {
    --opacity-level: 0.15;
    --opacity-level-hover: 0.05;

    --img-perfiliconograma: url('../../assets/images/background2.png');
    --img-bloodscocktail: url('../../assets/images/bloodscocktail_upscaled.png');
    --img-cocktailn2: url('../../assets/images/cocktail2.png');
    --img-cocktailn1: url('../../assets/images/cocktail1.jpeg');
    --img-singles: url('../../assets/images/singles.png');
    --img-strange: url('../../assets/images/strange.png');
    --img-suburban: url('../../assets/images/suburbanride.png');
    --img-ttmm: url('../../assets/images/ttmm.png');
    --img-cocktail22: url('../../assets/images/cocktail22.png');

    --color-keyWhite: #f5f5f5;
    --color-keyBlack: #121212;
    --color-keyBorders: #0f0f0f;
    --color-keyWhite-borders: #c9c9c9;
    --color-keyWhite-shadows: #d4d4d4;
    --color-keyWhite-gradients: #d9d6d6;

    --color-hoverPlay: #656261;
    --color-hoverPlay-mobile: #ff4203;
}

.key-natural {
    height: 400px;
    width: 100%;
    position: relative;
    border-top: 2px solid var(--color-keyBorders);
    border-bottom: 6px solid var(--color-keyBorders);
    border-right: 5px solid var(--color-keyBorders);
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.key-white {
    background-color: var(--color-keyWhite);
    box-shadow:
        -1px -1px 2px rgba(255, 255, 255, 0) inset,
        0px 0 2px 0px rgba(231, 231, 231, 0.8) inset,
        0 0 0 rgb(255, 255, 255, 251);
}

.key-natural .key-image {
    will-change: opacity;
    /* Sinaliza ao navegador para priorizar alterações de opacidade */
    transition: opacity 0.7s ease;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: auto;
    /* Permite interação */
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Ícone de Play */
.key-natural .hover-play::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width: 0;
    height: 0;
    border-left: 200px solid var(--color-hoverPlay);
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    z-index: -1;
}

.key-natural.key-white:active {
    box-shadow:
        -1px -1px 2px rgba(187, 167, 167, 0) inset,
        0px 0 2px 0px rgba(218, 217, 217, 0.8) inset,
        0 0 0 rgb(189, 188, 188);
    background: linear-gradient(90deg, rgba(255, 255, 255, var(--opacity-level)), rgb(131 131 131 / 66%));
}

.key-black {
    background-color: var(--color-keyBlack);
    box-shadow:
        -1px -1px 2px rgba(255, 255, 255, 0) inset,
        -19px 0px 2px 8px rgba(0, 0, 0, 0.8) inset,
        0 2px 4px rgba(0, 0, 0, 1);
}

.key-natural.key-black:active,
.key-accidental.key-black:active {
    box-shadow: -1px -1px 2px rgba(236, 234, 234, 0) inset, -19px 0px 4px 12px rgba(0, 0, 0, 1) inset, 0 1px 2px rgba(0, 0, 0, 1);
    background: linear-gradient(to right, var(--color-keyBlack) 0%, #000 100%);
    color: white;
}

.key-accidental {
    width: 60%;
    height: 200px;
    margin-top: -145px;
    margin-bottom: -60px;
    position: relative;
    border-radius: 0 5px 5px 0px;
    z-index: 1;
}

.key-accidental.key-white {
    border-top: 10px solid var(--color-keyBorders);
    border-right: 10px solid var(--color-keyBorders);
    border-bottom: 10px solid var(--color-keyBorders);
    background: var(--color-keyWhite);
    box-shadow: -1px -1px 2px var(--color-keyWhite-shadows) inset, -19px 0px 4px 12px var(--color-keyWhite-shadows) inset, 0 1px 2px var(--color-keyBorders);
}

.key-accidental.key-white:active {
    border-top: 10px solid var(--color-keyBorders);
    border-right: 10px solid var(--color-keyBorders);
    border-bottom: 10px solid var(--color-keyBorders);
    background: linear-gradient(to right, var(--color-keyWhite) 50%, var(--color-keyWhite-shadows) 100%);
    box-shadow: -1px -1px 2px var(--color-keyWhite-shadows) inset, -19px 0px 4px 12px var(--color-keyWhite-shadows) inset, 0 1px 2px var(--color-keyBorders);
    color: white;
}

.key-accidental.key-black {
    border-top: 10px solid #000;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    background: linear-gradient(to right, #353434 0%, #0c0c0c 100%);
}

.key-white:not(:has(+ .key-black)) {
    border-bottom: 1px solid var(--color-keyBorders);
}

.key-natural#perfiliconograma .key-image {
    --opacity-level-iconograma: 0.13;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level-iconograma)),
            rgba(255, 255, 255, var(--opacity-level-iconograma))),
        var(--img-perfiliconograma);
    background-repeat: no-repeat;
    background-position: 80% 66%;
}

#perfiliconograma .key-modal .key-image {
    height: 350px;
}

.key-natural#bloodscocktail .key-image {
    background-position: 80% 35%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-bloodscocktail);
}

#bloodscocktail .key-modal .key-image {
    height: 401px;
    background-position: 99% 42% !important;
    background-size: cover;
}

.key-natural#cocktailn2 .key-image {
    background-position: 30% 35%;
    background-size: 120%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-cocktailn2);
}

#cocktailn2 .key-modal .key-image {
    height: 400px;
}

.key-natural#cocktailn1 .key-image {
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-cocktailn1);
}

#cocktailn1 .key-modal .key-image {
    height: 250px;
}

.key-natural#singles .key-image {
    background-position: 80% 35%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-singles);
}

#singles .key-modal .key-image {
    height: 450px;
    background-size: 130%;
    background-position: 80% 0% !important;
}

.key-natural#strange .key-image {
    background-position: 70% 10%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-strange);
}

#strange .key-modal .key-image {
    background-size: 150%;
    height: 450px;
}

.key-natural#suburban .key-image {
    background-position: 80% 10%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-suburban);
}

.key-natural#suburban .key-modal .key-image {
    height: 380px;
    background-size: cover;
    background-position: 70% 10%;
}

.key-natural#ttmm .key-image {
    background-position: 80% 40%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-ttmm);
}

#ttmm .key-modal .key-image {
    background-size: cover;
    background-position: 0 -77px !important;
    height: 342px;
}

.key-natural#cocktail22 .key-image {
    background-position: 80% 40%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-cocktail22);
}

#cocktail22 .key-modal .key-image {
    height: 450px;
    background-size: contain;
}

.hero-key .key-modal .key-image {
    background-size: contain;
    background-position: 0% 0% !important;
}

.key-modal {
    @apply w-full absolute p-5 top-[45%] transform rounded-lg pointer-events-none duration-500 ease-in-out;
    z-index: 2;
}

.hover-text {
    @apply absolute opacity-0 text-base text-black text-center transition-opacity;
    z-index: 2;
}


.key-natural .hover-text {
    transform: translateY(-50%);
    min-width: 300px;
    max-width: 450px;
    left: 65%;
}

.key-natural .key-videos.hover-text {
    max-width: 100%;
}

.key-accidental .hover-text {
    left: auto;
    margin-right: 35px;
    margin-bottom: 10px;
}

.key-videos.hover-text {
    left: 10%;
    width: 80%;
    top: 0%;
}

.key-modal .key-image {
    display: none;
}

@media (min-width: 768px) {

    .key-natural:hover .hover-text,
    .key-natural:hover+.key-accidental .hover-text {
        opacity: 1;
        pointer-events: auto;
    }

    .key-natural:hover+.key-accidental .hover-text {
        transition: opacity 3s ease-in-out;
    }

    .key-natural:hover .key-image,
    .key-natural button:hover~.key-image {
        opacity: var(--opacity-level-hover);
    }

    .key-black .hover-text {
        color: white;
    }
}


@media (max-width: 768px) {

    .key-modal {
        display: none;
        opacity: 0;
        position: fixed;
        /* Cobre toda a tela */
        top: 0;
        left: 0;
        right: 0;
        bottom: 100px;
        width: 100%;
        transition: opacity 2s ease;
        background-color: rgba(0, 0, 0, 0.85);
        /* Fundo mais escuro para simular o painel */
        z-index: 9998;
        /* Certifique-se de que o overlay esteja abaixo do modal */
        pointer-events: auto;
        /* Permite interações no overlay */
        border: 1px solid #444;
        /* Adiciona uma borda cinza escura */
    }

    .key-modal .key-image {
        display: block;
    }

    .key-modal .hover-text {
        font-size: 14px;
        line-height: 20px;
    }

    .hover-text {
        padding: 20px;
        z-index: 2;
        background-color: #2b2b2b;
        /* Fundo escuro para simular o painel */
        color: #ffffff;
        /* Texto branco para contraste */
        width: 100%;
        position: fixed;
        border-radius: 8px;
        /* Bordas arredondadas */
        border: 2px solid #444;
        /* Borda cinza escura */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.1);
        /* Sombra externa e brilho interno */
        font-family: 'Courier New', monospace;
        /* Fonte estilo painel digital */
        text-align: center;
        /* Centraliza o texto */
        gap: 15px;
        /* Espaçamento entre elementos */
    }

    .close-modal {
        display: none;
        z-index: 9999;
        position: fixed;
        top: 0;
        width: 100%;
        cursor: pointer;
    }

    .key-natural {
        height: 200px;
    }

    .key-accidental {
        width: 80%;
        height: 130px;
        margin-top: -73px;
    }

    .key-accidental.key-black {
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        background: linear-gradient(to right, #353434 0%, #0c0c0c 100%);
    }

    .key-natural .hover-text {
        left: 0;
        transform: translateY(-50%);
    }

    .key-accidental .hover-text {
        left: auto;
        margin-right: 0;
        margin-bottom: 0;
    }

    .key-videos.hover-text {
        left: 10%;
        width: 80%;
        top: 40%;
    }

    .key-natural .hover-play::before {
        border-left: 60px solid var(--color-hoverPlay-mobile);
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        position: fixed;
        right: 0;
        left: 90%;
        top: 50%;
        bottom: 8%;
    }

}