/* === Variáveis Globais === */
:root {
    --opacity-level: 0.25;
    --opacity-level-hover: 0.05;
}

/* === Contêineres do Piano === */
.hero-piano {
    height: 50%;
    width: 100%;
}

.side-key {

}

.keys {

}

.key-redline {
    background: linear-gradient(270deg, #4f0303, #ff0808);
    box-shadow: 1px 1px 11px rgb(0 0 0);
    border-radius: 2px;
}

/* === Teclas Brancas (Base) === */
.hero-key.key-white {
    position: relative;
    background-color: #fff;
    background: linear-gradient(90deg,
        rgba(255, 255, 255, var(--opacity-level)),
        rgba(189, 189, 189, 59%)
    );
    border-top: 2px solid #777777;
    border-bottom: 6px solid #777777;
    border-right: 5px solid #777777;
    box-shadow: 
        -1px -1px 2px rgba(255, 255, 255, 0) inset,
        0px 0 2px 0px rgba(231, 231, 231, 0.8) inset,
        0 0 0 rgb(255, 255, 255, 251);
    border-radius: 15px;
}

.hero-key.key-white .key-image {
    transition: opacity 0.7s ease;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}


.hero-key.key-white .hover-text {
    position: absolute; /* Posiciona o texto dentro da tecla */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro exato */
    color: #000; /* Cor do texto */
    padding: 10px;
    border-radius: 8px; /* Bordas arredondadas */
    text-align: center;
    opacity: 0; /* Oculta por padrão */
    pointer-events: none; /* Impede interação */
    transition: opacity 0.5s ease; /* Transição suave */
    width: 100%;
}

.hero-key.key-white:hover .hover-text {
    opacity: 1; /* Torna visível no hover */
}


.hero-key.key-white:active {
    box-shadow: 
        -1px -1px 2px rgba(187, 167, 167, 0) inset,
        0px 0 2px 0px rgba(218, 217, 217, 0.8) inset,
        0 0 0 rgb(189, 188, 188);
    background: linear-gradient(90deg, rgba(255, 255, 255, var(--opacity-level)), rgb(131 131 131 / 66%));
}


.hero-key.key-white .key-image:hover {
    opacity: var(--opacity-level-hover);
}

/* === Teclas Pretas (Base) === */
.hero-key.key-black {
    width: 60%;
    height: 200px;
    background-color: #000;
    margin-top: -145px;
    margin-bottom: -60px;
    z-index: 1;
    border-top: 10px solid #000;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    position: relative;
    border-radius: 0 0 3px 3px;
    box-shadow: 
        -1px -1px 2px rgba(255, 255, 255, 0) inset,
        -19px 0px 2px 8px rgba(0, 0, 0, 0.8) inset,
        0 2px 4px rgba(0, 0, 0, 1);
    background: linear-gradient(to right, #2b2b2b 0%, #0c0c0c 100%);
}

.hero-key.key-black:active {
    box-shadow: 
        -1px -1px 2px rgba(255, 255, 255, 0) inset,
        -19px 0px 4px 12px rgba(0, 0, 0, 1) inset,
        0 1px 2px rgba(0, 0, 0, 1);
    background: linear-gradient(to right, #131313 0%, #000 100%);
}

/* === Estilos Específicos das Teclas Brancas === */
.hero-key.key-white#bloodscocktail .key-image {
    background-position: 80% 35%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        url('../assets/images/bloodscocktail_upscaled.png');
}

.hero-key.key-white#cocktailn2 .key-image  {
    background-position: 30% 35%;
    background-size: 120%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        url('../assets/images/cocktail2.png');
}

.hero-key.key-white#cocktailn1 .key-image  {
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        url('../assets/images/cocktail1.jpeg');
}

.hero-key.key-white#strange .key-image  {
    background-position: 70% 10%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        url('../assets/images/strange.png');
}

.hero-key.key-white#strange2 .key-image  {
    background-position: 70% 60%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        url('../assets/images/strange.png');
}

.hero-key.key-white#suburban .key-image  {
    background-position: 80% 10%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        url('../assets/images/suburbanride.png');
}

.hero-key.key-white#ttmm .key-image  {
    background-position: 80% 40%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        url('../assets/images/ttmm.png');
}

.hero-key.key-white#cocktail22 .key-image  {
    background-position: 80% 40%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        url('../assets/images/cocktail22.png');
}
