/* === Variáveis Globais === */
:root {
    --opacity-level: 0.15;
    --opacity-level-hover: 0.05;
    --opacity-level-iconograma: 0.1;

    --img-perfiliconograma: url('../assets/images/iconograma4white.png');
    --img-bloodscocktail: url('../assets/images/bloodscocktail_upscaled.png');
    --img-cocktailn2: url('../assets/images/cocktail2.png');
    --img-cocktailn1: url('../assets/images/cocktail1.jpeg');
    --img-strange: url('../assets/images/strange.png');
    --img-suburban: url('../assets/images/suburbanride.png');
    --img-ttmm: url('../assets/images/ttmm.png');
    --img-cocktail22: url('../assets/images/cocktail22.png');
}

/* === Contêineres do Piano === */
.hero-piano {
    height: 50%;
    width: 100%;
}

.key-redline {
    background: linear-gradient(270deg, #4f0303, #ff0808);
    box-shadow: 1px 1px 11px rgb(0 0 0);
    border-radius: 2px;
}

/* === Teclas Brancas (Base) === */
.hero-key.key-white {
    position: relative;
    background-color: #fff;
    border-top: 2px solid #777777;
    border-bottom: 6px solid #777777;
    border-right: 5px solid #777777;
    box-shadow:
        -1px -1px 2px rgba(255, 255, 255, 0) inset,
        0px 0 2px 0px rgba(231, 231, 231, 0.8) inset,
        0 0 0 rgb(255, 255, 255, 251);
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.hero-key.key-white .key-image {
    will-change: opacity; /* Sinaliza ao navegador para priorizar alterações de opacidade */
    transition: opacity 0.7s ease;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: auto; /* Permite interação */
    height: 400px;
    width: 100%;
}

.hero-key.key-white .hover-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    left: 55%; /* Centraliza horizontalmente no contêiner */
    transform: translateY(-50%);
    width: 30%;
    will-change: opacity; /* Otimização */
}

/* Ícone de Play */
.hero-key.key-white .hover-play::before {
    content: '';
    position: absolute;
    top: 50%; /* Centraliza no eixo vertical */
    left: 90%; /* Centraliza no eixo horizontal */
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width: 0; /* Mantém o triângulo ajustável pelas bordas */
    height: 0; /* Nenhuma altura adicional é necessária */
    border-left: 200px solid #656261; /* Ajuste para o tamanho do triângulo */
    border-top: 100px solid transparent; /* Controla o topo do triângulo */
    border-bottom: 100px solid transparent; /* Controla a base do triângulo */
    z-index: -1; /* Mantém o triângulo atrás do conteúdo */
}

/* Exibe o hover-text no hover */
.hero-key.key-white:hover .hover-text {
    opacity: 1; /* Torna visível no hover */
}



.hero-key.key-white:active {
    box-shadow:
        -1px -1px 2px rgba(187, 167, 167, 0) inset,
        0px 0 2px 0px rgba(218, 217, 217, 0.8) inset,
        0 0 0 rgb(189, 188, 188);
    background: linear-gradient(90deg, rgba(255, 255, 255, var(--opacity-level)), rgb(131 131 131 / 66%));
}


.hero-key.key-white .key-image:hover,
.hero-key.key-white button:hover ~ .key-image {
    opacity: var(--opacity-level-hover);
}

/* === Teclas Pretas (Base) === */
.hero-key.key-black {
    width: 60%;
    height: 200px;
    background-color: #000;
    margin-top: -145px;
    margin-bottom: -60px;
    z-index: 1;
    border-top: 10px solid #000;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    position: relative;
    border-radius: 0 0 3px 3px;
    box-shadow:
        -1px -1px 2px rgba(255, 255, 255, 0) inset,
        -19px 0px 2px 8px rgba(0, 0, 0, 0.8) inset,
        0 2px 4px rgba(0, 0, 0, 1);
    background: linear-gradient(to right, #353434 0%, #0c0c0c 100%);
}

.hero-key.key-black:active {
    box-shadow:
        -1px -1px 2px rgba(255, 255, 255, 0) inset,
        -19px 0px 4px 12px rgba(0, 0, 0, 1) inset,
        0 1px 2px rgba(0, 0, 0, 1);
    background: linear-gradient(to right, #131313 0%, #000 100%);
    color: white;
}

.hero-key.key-white#perfiliconograma .key-image {
    background-image: linear-gradient(rgba(255, 255, 255, var( --opacity-level-iconograma)), rgba(255, 255, 255, var( --opacity-level-iconograma))),
        var(--img-perfiliconograma);
        background-position: right;
        background-repeat: no-repeat;
    }

.hero-key.key-white#bloodscocktail .key-image {
    background-position: 80% 35%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-bloodscocktail);
}

.hero-key.key-white#cocktailn2 .key-image {
    background-position: 30% 35%;
    background-size: 120%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-cocktailn2);
}

.hero-key.key-white#cocktailn1 .key-image {
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-cocktailn1);
}

.hero-key.key-white#strange .key-image {
    background-position: 70% 10%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-strange);
}

.hero-key.key-white#suburban .key-image {
    background-position: 80% 10%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-suburban);
}

.hero-key.key-white#ttmm .key-image {
    background-position: 80% 40%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-ttmm);
}

.hero-key.key-white#cocktail22 .key-image {
    background-position: 80% 40%;
    background-image: linear-gradient(rgba(255, 255, 255, var(--opacity-level)), rgba(255, 255, 255, var(--opacity-level))),
        var(--img-cocktail22);
}