.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
}
.main-menu {
    width: 100%;
}
.main-menu button {
    z-index: 10; /* Garante que as setas fiquem visíveis, mas fora do conteúdo */
}

/* Estilização do switch de idiomas */
.lang-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    max-width: 250px;
}

.language-label {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.lang-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.lang-btn:hover {
    transform: scale(1.1);
}

.lang-flag {
    width: 24px;
    height: 16px;
    border-radius: 3px;
    max-width: 24px;
}