.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
}
.main-menu {
    width: 100%;
}
.main-menu button {
    z-index: 10; /* Garante que as setas fiquem visíveis, mas fora do conteúdo */
}