.bellota-text-light {
  font-family: "Bellota Text", serif;
  font-weight: 300;
  font-style: normal;
}

.bellota-text-regular {
  font-family: "Bellota Text", serif;
  font-weight: 400;
  font-style: normal;
}

.bellota-text-bold {
  font-family: "Bellota Text", serif;
  font-weight: 700;
  font-style: normal;
}

.bellota-text-light-italic {
  font-family: "Bellota Text", serif;
  font-weight: 300;
  font-style: italic;
}

.bellota-text-regular-italic {
  font-family: "Bellota Text", serif;
  font-weight: 400;
  font-style: italic;
}

.bellota-text-bold-italic {
  font-family: "Bellota Text", serif;
  font-weight: 700;
  font-style: italic;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
